USE [master]
GO
/****** Object:  Database [GymClub]    Script Date: 3/17/2025 4:14:15 PM ******/
CREATE DATABASE [GymClub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GymClub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GymClub.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GymClub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GymClub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GymClub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GymClub]
GO
/****** Object:  Table [dbo].[Tbl_Exercise]    Script Date: 3/17/2025 4:14:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Exercise](
	[ExerciseId] [int] IDENTITY(1,1) NOT NULL,
	[ExerciseCode] [varchar](50) NULL,
	[ExerciseName] [varchar](80) NOT NULL,
	[WorkoutCode] [varchar](50) NULL,
	[Day] [int] NOT NULL,
	[Time] [time](7) NOT NULL,
	[Calories] [int] NOT NULL,
	[DelFlag] [bit] NULL,
	[Url] [varchar](max) NULL,
	[IsDone] [bit] NULL,
 CONSTRAINT [PK_Tbl_Exercise] PRIMARY KEY CLUSTERED 
(
	[ExerciseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_LogEvents]    Script Date: 3/17/2025 4:14:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_LogEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[MessageTemplate] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[TimeStamp] [datetime] NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tbl_LogEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Login]    Script Date: 3/17/2025 4:14:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Login](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[SessionId] [varchar](50) NULL,
	[SessionExpiredDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Payment]    Script Date: 3/17/2025 4:14:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Payment](
	[PaymentId] [int] NOT NULL,
	[WorkoutCode] [varchar](50) NULL,
	[WorkoutName] [varchar](50) NULL,
	[Amount] [decimal](18, 0) NULL,
	[UserId] [varchar](50) NULL,
	[PayDate] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_User]    Script Date: 3/17/2025 4:14:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_User](
	[UserId] [varchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PhoneNo] [varchar](11) NOT NULL,
	[Password] [varchar](180) NOT NULL,
	[Gender] [char](10) NOT NULL,
	[DateOfBirth] [datetime] NULL,
	[JoinDate] [datetime] NOT NULL,
	[DelFlag] [bit] NOT NULL,
	[ImagePath] [varchar](50) NULL,
	[UpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Workout]    Script Date: 3/17/2025 4:14:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Workout](
	[WorkoutId] [int] IDENTITY(1,1) NOT NULL,
	[WorkoutCode] [varchar](50) NULL,
	[WorkoutName] [varchar](100) NOT NULL,
	[Place] [varchar](50) NOT NULL,
	[Level] [varchar](50) NOT NULL,
	[DelFlag] [bit] NULL,
	[Price] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
USE [master]
GO
