@page "/"
@using GymClub.App.Components.Layout
@layout EmptyLayout
@rendermode RenderMode.InteractiveServer

<div class="pt-sm-3">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6 col-xl-5">
				<div class="card overflow-hidden">
					<div class="card-body pt-2">
						<div>
							<div class="row">
								<div class="text-velvet text-center">
									<h3 class="text-velvet">Let's Get Into Good Shape!</h3>
								</div>
							</div>
							<div class="row">
								<div class="pb-3 pt-2">
									<img src="images/iconicone.jpg" alt="" class="img-fluid">
								</div>
							</div>
						</div>
						<ul class="nav nav-tabs nav-fill mb-3" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link text-velvet" data-bs-toggle="tab" onclick="@SignUp" role="tab" aria-selected="true">
									<span class="d-none d-sm-block">sign up</span>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link text-velvet" data-bs-toggle="tab" onclick="@Login" role="tab" aria-selected="false" tabindex="-1">
									<span class="d-none d-sm-block">sign in</span>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>