@page "/dashboard"

<div class="card p-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <RadzenText TextAlign="TextAlign.Center"><strong>Activity Detail</strong></RadzenText>
                        <div id="app">
                            <div id="piechart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>