@page "/signIn"
@using GymClub.App.Components.Layout
@layout EmptyLayout
@rendermode RenderMode.InteractiveServer
@inject LoginService _login

<div class="pt-sm-3">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6 col-xl-5">
				<div class="card overflow-hidden">
					<div class="card-body pt-2">
						<div class="mb-3">
							<label class="form-label">User Name</label>
							<input class="form-control mb-3" type="text"
								   placeholder="enter name" @bind-value="_reqModel.UserName" maxlength="50" required />
						</div>
						<div class="mb-3">
							<label class="form-label">Password</label>
							<div class="input-group mb-3">
								<input type="password" class="form-control mb-3" id="txtPassword" placeholder="EnterPassword" aria-label="Password" aria-describedby="button-addon2" required maxlength="50" @bind="_reqModel.Password">
								<button class="btn btn-outline-secondary mb-3" @onclick="TogglePasswordVisibility" type="button" data-id="txtPassword" data-icon="btnPasswordIcon" data-visible="on" id="btnPassword">
									<i id="btnPasswordIcon" class="bi-eye-slash-fill"></i>
								</button>
							</div>
						</div>
						<div class="float-right">
							<button type="button" @onclick="LogIn" style="background-color: violet;">Sign In</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
