@page "/workout"
@using GymClub.App.Components.Layout
@using GymClub.Domain.Features.Workouts
@layout MainLayout
@inject WorkoutService _workout
@rendermode RenderMode.InteractiveServer


<h3>Select Your Workout Plan</h3>

<div class="row">
	@if (lst is not null)
	{
		int count = 0;
		@foreach (var data in lst)
		{
			<div class="col pt-sm-2 mb-3">
				<div style="width: 350px; height: 300px; margin: auto">
					<MudCard Class="my-5" @onclick="() => WorkoutCollection(data)">
						<!-- Image Section -->
						@* <MudCardMedia Image="/images/gym@(count++).jpg" Alt="Sample Image" /> *@
						<MudCardMedia Image=@($"/images/gym{count++}.jpg") 
										Alt="@data.WorkoutName" 
										Fit="ObjectFit.Contain" 
										Width ="320"
										Height="255"/>

						<!-- Card Content Section -->
						<MudCardContent>
							<MudText Typo="Typo.h5" Bold="true">@data.WorkoutName</MudText>
							<MudText Typo="Typo.body1">@data.Level</MudText>
							<MudText Typo="Typo.body1">@data.Place</MudText>
						</MudCardContent>
					</MudCard>
				</div>
			</div>
		}
	}
</div>



@code {
	private WorkoutResponseModel model;
	private List<WorkoutModel> lst;
	protected override async Task OnInitializedAsync()
	{
		await List();
	}

	private async Task List()
	{
		model = await _workout.GetWorkoutList();
		lst = model.lstData;
	}

	private async Task WorkoutCollection(WorkoutModel workout)
	{
		Console.WriteLine("Something!");
	}
}