@page "/signIn"

<div class="align-content-center">
    <div class="mb-3">
        <label class="form-label">User Name</label>
        <input class="form-control" type="text"
               placeholder="enter name" @bind-value="_reqModel.UserName" maxlength="50" />
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" type="text"
               placeholder="enter password" @bind-value="_reqModel.Password" maxlength="50" />
    </div>
    <div class="float-right">
        <button type="button" @onclick="LogIn">Sign In</button>
    </div>
</div>